.activity-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  button {
    margin: 5px 0;
    cursor: pointer;
    background: $white;
    padding: 5px;
    width: 100%;
  }

  &__submit {
      border: 2px solid $green;
      color: $dark-green;
  }
}