.nav {
  z-index: 2;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  background: $nav-background;
  display: flex;
  align-items: center;

  &__title {
    margin: 0 20px;
    color: $nav-text
  }

  &__options {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
    &__option {
      margin: 0 10px;
      
      &__link {
        position: relative;
        color: $nav-text;
        text-decoration: none;

        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -1px;
          left: 0;
          background-color: $nav-text;
          visibility: hidden;
          transition: all 0.2s ease-in-out;
        }
        &:hover::before {
          visibility: visible;
          width: 100%;
        }
      }
    }
    &__button {
      margin: 0 10px;
      background: $nav-button;
      border: none;
      padding: 10px;
      color: $nav-text;
      border-radius: 5px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        box-shadow: 1px 1px 1px black;
        transition: .2s;
      }
    }
  }

  
}