.main {
  margin-top: 60px;
  background: $main-background;
  min-height: 100vh;
  .container {
    padding: 20px;
    header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      svg {
        width: 2em;
        height: 2em;
      }
      h1 {
        margin-left: 10px;
      }
    }

    ul {
      list-style: none;
    }
  }

  .seperator {
    margin: 30px 0;
  }

  .button-wrapper {
    position: relative;
  }

  .button-progress {
    color: $green;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    z-index: 2;
  }
}
