* {
  margin: 0;
  padding: 0;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

@import './variables';
@import './media-queries';
@import './fonts';
@import './App';
@import './components/nav.styles';
@import './components/activities-dashboard.styles';
@import 'components/activity-details.styles';
@import 'components/activity-form.styles'